<template>
  <sidebar-menu style="max-width: 600px" id="sidebarViewer" :menu="menu" :theme="theme">
    <span slot="toggle-icon">Réduire/Agrandir</span>
  </sidebar-menu>

</template>

<script>
import SurveyPointSideBar from './SurveyPointSideBar'
import InventoryEntrySideBar from './InventoryEntrySideBar'

export default {
  name: 'SideBarViewer',
  data() {
    return {
      menu: [
        {  component: SurveyPointSideBar,       
          hiddenOnCollapse: true
        },
        { component: InventoryEntrySideBar,       
          hiddenOnCollapse: true
        }
      ],
      theme: 'white-theme',
    }
  }
}
</script>
<style>
#sidebarViewer {
  position: relative;
  float: right;
  height: 80%;
  width: 30%;
}

.formGroupTitle {
  font-weight: bold;
}
</style>
