<template>
<nav id="navbar" class="navbar navbar-dark fixed-top bg-dark p-1 shadow">
  <a class="navbar-brand  col-md-1 mr-0" href="#"> <img class="logo" src="../../assets/logo_dialectoLOD.png"/>
  DialectoLOD</a>
  <div>
    <b-button v-b-modal.modal-1>Ajouter une couche</b-button>
    <b-modal hide-footer id="modal-1" title="Ajouter une couche">
      <add-layer></add-layer>
    </b-modal>
  </div>
  <select @change="changeRasterLayer(selectedBackgroundLayer)" v-model="selectedBackgroundLayer" selected="selectedBackgroundLayer" id="labelLayerSelector" class="browser-default custom-select">
    <option v-for="backgroundLayer in getBackgroundLayers">{{ backgroundLayer.title }}</option>
  </select>
  <VueSlider v-bind="sliderOptions" v-model="changeOpacity" />
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Crédits</a>
    </li>
  </ul>
</nav>
</template>

<script>
import { mapGetters } from 'vuex'
import AddLayer from '@components/commons/AddLayer'
import { saveAs } from 'file-saver'
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  name: 'header-view',
  data() {
    return {
      // La couche sélectionnée (par défaut)
      selectedBackgroundLayer: this.$store.getters.getBackgroundLayers[1].title,
      changeOpacity: 1,
      sliderOptions: {
        width: 150,
        min: 0,
        max: 1,
        interval: 0.1,
        tooltipPlacement: 'bottom'
      }
    }
  },
  components: { AddLayer, VueSlider },
  /**
   * les propriétés déclarées dans computed sont mises en cache selon
   * leurs dépendances. Une propriété calculée sera réévaluée uniquement quand certaines de ses dépendances auront changé
   */
  computed: {
    ...mapGetters({
      getBackgroundLayers: 'getBackgroundLayers',
      getBackgroundLayerByTitle: 'getBackgroundLayerByTitle',
      olmapLayers: 'getOlmapLayers',
      olmap: 'getOlmap'
    })
  },
  watch: {
    changeOpacity() { this.olmap.getLayers().getArray()[0].setOpacity(this.changeOpacity) }
  },
  methods: {
    /**
     * Fonction permettant de modifier le fond de carte
     * Supprime le fond de carte actuelle et le remplace par celui sélectionné par l'utilisateur
     */
    changeRasterLayer: function(backgroundLayer) {
      this.olmap.removeLayer(this.olmap.getLayers().getArray()[0])
      this.olmap.getLayers().insertAt(0, this.getBackgroundLayerByTitle(backgroundLayer).value)
    }
  }
}
</script>

<style>
#navbar {
  color: white;
}
.logo {
width: 40px;
}

#labelLayerSelector {
  width: 200px;
  padding: 5px;
}
</style>
