<template>
  <div>
    <b-card class="mb-1" >
    <div class="leftAlign"> 
    <div v-if="responsesList.length > 1">
      <b-form-group label-for="phoneticTranscriptionConsult" description="Dérouler la liste pour choisir la transcription à modifier">
        <b-form-select id="phoneticTranscriptionConsult" :options="responsesList"  value-field="rousselotPhoneticForm"
        text-field="rousselotPhoneticForm"
        size="lg" v-model="phoneticTranscription"></b-form-select>
      </b-form-group>
    </div>          
      <b-card-text v-if="phoneticTranscription != null">
          <p class="formGroupTitle">Transcription phonétique de la réponse</p>
          <b-form-group description="Modifier la transcription phonétique">
            <b-input-group id="phoneticTranscriptionInput" >
                <b-input-group-append>
                  <b-button variant="info" v-b-modal.modal-2 data-backdrop="false">Clavier API</b-button>
                </b-input-group-append>
                <b-form-input type="text" size="lg" placeholder="Transcription phonétique" v-model="newPhoneticTranscription"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group description='Selectionner une transcription phonétique existante'>
              <b-form-select id="phoneticTranscriptionSelect" :options="phoneticTranscriptonsList" size="lg" v-model="newPhoneticTranscription"></b-form-select>
          </b-form-group>

          <b-form-group description="Choisir une valeur dans la liste déroulante"
            label="Information complémentaire"
            label-for="phoneticTranscriptionComplementaryInfoList">
            <b-form-select :options="phoneticTranscriptionComplementaryInfoList" size="lg" v-model="newComplementaryInformation"></b-form-select>
          </b-form-group>

         <hr>
         <p class="formGroupTitle">Points d'enquête auxquels la modification sera propagée</p>
         <b-card bg-variant="light">
            <b-card-text id="selectedinvEntries" class="overflow-auto">
            <span v-for="(d3Circle, index) in circleList" :key="d3Circle.id">
                {{ d3Circle.id  + ''}} 
                {{ index < circleList.length -1 ? ', ' : ''}}
            </span>
           </b-card-text>
          </b-card>
          <b-form-text>
            (Maj + Clic) sur un point de la carte pour l'ajouter à ou le retirer de cette liste. Entre parenthèses la ou les formes phonétiques du PE si il en a déjà.
          </b-form-text>
          <br>

      </b-card-text>
      </div>
                  <b-button id="phoneticTranscriptionButton" :disabled="!phoneticTranscription" variant="success" @click="editPhoneticTranscription()">
          Enregistrer
          </b-button>
    </b-card>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EventBus from '@components/bus/bus.js';

export default {
  name: 'PhoneticTranscriptionsEdition',
  props: ['responsesList'],
  data() {
    return {
      phoneticTranscriptonsList: [],
      phoneticTranscription: null,
      complementaryInformation: null,
      newPhoneticTranscription: null,
      newComplementaryInformation: null
    };
  },
  computed: {
    ...mapGetters({
      inventoryEntriesList: 'getAllInventoryEntries',
      invEntrySameRousselotPhoneticFormList: 'getInvEntrySameRousselotPhoneticFormList',
      phoneticTranscriptionComplementaryInfoList: 'getPhoneticTranscriptionComplementaryInfoList',
      circleList: 'getCircleList',
      apiKeyboardValue: 'getApiKeyboardValue'
    })
  },
  created() { 
    this.setPhoneticTranscriptionsList()
    this.phoneticTranscription = this.responsesList[0].rousselotPhoneticForm
    this.complementaryInformation = this.responsesList[0].complementaryInformation
    this.newComplementaryInformation = this.responsesList[0].complementaryInformation
  },
  watch: {
    apiKeyboardValue(){ this.newPhoneticTranscription = this.apiKeyboardValue } ,
    responsesList() {
      this.phoneticTranscription = this.responsesList[0].rousselotPhoneticForm
      this.complementaryInformation = this.responsesList[0].complementaryInformation
      this.newComplementaryInformation = this.responsesList[0].complementaryInformation
    },
    phoneticTranscription() { 
      this.newComplementaryInformation = this.complementaryInformation
      this.newPhoneticTranscription = this.phoneticTranscription
      this.$store.dispatch('reloadData', { invEntrySameRousselotPhoneticFormList: this.invEntrySameRousselotPhoneticFormList, phoneticTranscription: this.phoneticTranscription})
    }
  },
  methods: {
    // Ajoute au tableau phoneticTranscriptonsList la liste des transcriptions phonétiques déjà renseignées dans carte
    setPhoneticTranscriptionsList: function() {
      for(let i = 0; i < this.inventoryEntriesList.length; i++){
        if(this.inventoryEntriesList[i].rousselotPhoneticForm != 'forme phonétique non encore renseignée' 
        && !(this.phoneticTranscriptonsList.includes(this.inventoryEntriesList[i].rousselotPhoneticForm))){
          this.phoneticTranscriptonsList.push(this.inventoryEntriesList[i].rousselotPhoneticForm)
        }
      }
      this.phoneticTranscriptonsList.sort()
    },
    editPhoneticTranscription: function() {
      this.$store.dispatch('addPhoneticTranscription', { phoneticTranscription: this.newPhoneticTranscription, phoneticTranscriptionInfo: this.newComplementaryInformation })
      EventBus.$emit('closeSideBar');
    }
  }
}
</script>
<style>
#phoneticTranscriptionButton, 
#phoneticTranscriptionAlert {
  margin-bottom: 25px;
}
#selectedinvEntries {
  border: 0px;
  height: 100px;
}
</style>