<template>
<div>
  <div class="jumbotron">
    <h5> Parmis la sélection </h5>
    <treeselect v-model="selectedJsonLayerId" :searchable="true" :disable-branch-nodes="true" :close-on-select="true" :multiple="false" :options="jsonLayers" />
    <Spinner v-if="!loaded" id="addLayerSpinner" size="large" message="Chargement..."></Spinner>
    <br>
    <b-form-group v-if="selectedJsonLayerId && selectedJsonLayerId.includes('eclats') && (!selectedJsonLayerId.includes('points'))" label="Style de la couche:">
      <b-form-checkbox-group id="checkbox-group" v-model="selectedStyle" name="flavour-2">
        <b-form-checkbox value="monochromeStyle">Monochrome</b-form-checkbox>
        <b-form-checkbox value="randomStyle">Aléatoire</b-form-checkbox>
        <b-form-checkbox value="stackedStyle">Hachuré</b-form-checkbox>
        <b-form-checkbox value="shinyStyle">Shiny</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>
    <button type="button" id="addLayerComponentButtons" class="btn btn-success" @click="addGeoserverLayer(selectedJsonLayerId)">Ajouter</button>
  </div>
  <div class="jumbotron">
    <h5> Depuis votre ordinateur </h5>
    <b-form-file v-model="file" :state="Boolean(file)" placeholder="Choisir un fichier ici..."></b-form-file>
    <div class="mt-3">Fichier choisi: {{ file ? file.name : '' }}</div>
    <button type="button" id="addLayerComponentButtons" class="btn btn-success" @click="addFile(file)">Ajouter</button>
  </div>
  <div class="alert alert-danger" v-if="message"> {{ message }}</div>
  <button type="button" class="btn btn-secondary" @click="close">Fermer</button>
</div>
</template>

<script>
import VectorLayer from 'ol/layer/Vector'
import VectorSource from 'ol/source/Vector'
import GeoJSON from 'ol/format/GeoJSON'
import Spinner from 'vue-simple-spinner'
import ImageWMS from 'ol/source/ImageWMS'
import Image from 'ol/layer/Image'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

import { mapGetters } from 'vuex'

export default {
  name: 'add-layer',
  data() {
    return {
      file: null,
      selectedJsonLayerId: null,
      loaded: true,
      message: '',
      selectedStyle: 'shinyStyle'
    }
  },
  components: { Spinner, Treeselect },
  /**
   * les propriétés déclarées dans computed sont mises en cache selon
   * leurs dépendances. Une propriété calculée sera réévaluée uniquement quand certaines de ses dépendances auront changé
   */
  computed: {
    // Accès aux données stockées dans le store
    ...mapGetters({
      urlGeoserver: 'getUrlGeoserver',
      olmap: 'getOlmap',
      geoserverLayers: 'getGeoserverLayers',
      olmapLayers: 'getOlmapLayers',
      jsonLayers: 'getJsonLayers',
      getJsonLayerTitleById: 'getJsonLayerTitleById'
    })
  },
  methods: {
    /**
     * Fonction permettant de vérifier si une couche a déjà été importée dans la carte
     */
    checkIfExists: function(title) {
      let exists = false
      for (let i = 0; i < this.olmapLayers.length; i++) {
        if (this.olmapLayers[i].get('title') === title) {
          exists = true
          this.message = 'La couche sélectionnée a déjà été importée'
        }
      }
      return exists
    },
    /**
     * Ajout d'un fichier local à la carte courante
     */
    addFile: function(file) {
      if (!this.checkIfExists(file.name)) {
        let reader = new FileReader()
        reader.onloadend = () => {
          let newLayer = new VectorSource({
            features: new GeoJSON().readFeatures(JSON.parse(reader.result), {
              featureProjection: 'EPSG:3857'
            })
          })
          let newVectorLayerFromFile = new VectorLayer({
            title: file.name,
            source: newLayer
          })
          // Ajout de la carte
          this.$store.dispatch('addLayer', newVectorLayerFromFile)
        }
        reader.readAsText(file)
        this.close()
      }
    },
    /**
     * Ajout d'une couche Geoserver
     */
    addGeoserverLayer: function(selectedJsonLayer) {
      let layerName = selectedJsonLayer
      let nameSpace = selectedJsonLayer.split(':')[0]
      let layerTitle = this.getJsonLayerTitleById(selectedJsonLayer)

      // Vérification permettant de savoir si la couche a déjà été importée dans la carte
      if (!this.checkIfExists(layerTitle)) {
        this.loaded = false
        let newLayer
        if (nameSpace === 'eclats' && !layerTitle.includes('points')) {
          // Création de la couche vectorielle
          if (layerTitle) {
            newLayer = new VectorLayer({
              layerName: layerName,
              nameSpace: nameSpace,
              title: layerTitle,
              type: "vector",
              source: new VectorSource({
                url: this.urlGeoserver +
                  nameSpace +
                  '/wms?service=WFS&' +
                  'version=1.1.0&' +
                  'request=GetFeature&' +
                  'typename=' +
                  layerName +
                  '&outputFormat=application/json',
                format: new GeoJSON(),
                crossOrigin: 'anonymous',
                serverType: 'geoserver'
              })
            })
            // Application des couleurs pour les couches shiny
            this.setColors(newLayer)
            newLayer.setOpacity(0.5)
          }
        } else {
          newLayer = new Image({
            title: layerTitle,
            nameSpace: nameSpace,
            layerName: layerName,
            type: "image",
            opacity: 0.5,
            source: new ImageWMS({
              url: this.urlGeoserver + nameSpace + '/wms',
              params: {
                FORMAT: 'image/png',
                VERSION: '1.1.1',
                tiled: true,
                LAYERS: layerName
              },
              ratio: 1,
              crossOrigin: 'anonymous',
              serverType: 'geoserver'
            })
          })
        }
        // Ajout de la couche image ou vecteur à la carte et au tableau de layers
        this.$store.dispatch('addLayer', newLayer)
        newLayer.setZIndex(this.olmapLayers.indexOf(newLayer))

        this.olmap.on('rendercomplete', evt => {
          this.loaded = true
          this.close()
        })
      }
    },

    /**
     *Fermeture de la boîte de dialogue
     */
    close: function() {
      this.$root.$emit('bv::hide::modal', 'modal-1', '#btnShow')
    },

    /**
     * Fonction qui attribut des couleurs aléatoire à une couche importée
     */
    setColors: function(newLayer) {
      newLayer.getSource().on('change', evt => {
        if (evt.target.getState() === 'ready') {
          let features = evt.target.getFeatures()
          // Pour chaque feature
          for (let i = 0; i < features.length; i++) {
            // Application des styles
            if (features[i].getStyle() === null) {
              if (this.selectedStyle === 'shinyStyle') {
                this.$store.dispatch('setShinyStyle', features[i])
              } else if (this.selectedStyle === 'stackedStyle') {
                this.$store.dispatch('setStackedStyle', features[i])
              } else if (this.selectedStyle === 'monochromeStyle') {
                this.$store.dispatch('setMonochromeStyle', features[i])
              } else {
                this.$store.dispatch('setRandomStyle',features[i])
              }
            }
          }
        }
      })
    }
  }
}
</script>

<style>
.alert {
  margin-top: 25px;
}

#addLayerComponentButtons {
  margin-top: 15px;
}

#addLayerSpinner {
  margin-top: 15px;
}
</style>
