<template>
  <div id="overlay" style="background-color: white; border-radius: 10px; border: 1px solid black; padding: 5px 10px;">
    <h5> Informations sur l'entitité sélectionnée </h5>
    <div id="overlayList" v-if="featureKeys">
      <br>
      <b-table-simple responsive striped outlined hover fixed foot-clone>
        <b-tbody>
          <b-tr v-for="(key, index) in featureKeys" :key='index' :title="key">
            <b-th sticky-column>{{ '' + key }}</b-th>
            <b-td>{{ '' + feature.get(key) }}</b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </div>
    <br>
    <button type='button' class='btn btn-success' @click="saveFeature()"> Sélectionner </button>
    <button type='button' class='btn btn-danger' @click="hidePopup()"> Fermer </button>
  </div>
</template>
<script>
/**
* Ce composant correspond à la popup qui s'affiche dans la carte lorsqu'un utilisateur clique
* sur une feature (entité). Dans la boîte de dialogue s'affichent les données correspondants à la feature sélectionnée
*/
export default {
  name: 'dialog-features-details',
  props: ['feature'], // La feature sélectionné par l'utilisateur
  data(){
    return {
      featureKeys: null
    }
  },
  created(){
    this.featureKeys = this.feature.getKeys()
  },
  methods: {
    /*
     * Appel de la fonction du composant parent permettant de sauvegarder la feature
     */
    saveFeature: function() { this.$emit('saveFeature') },
      /*
       * Appel de la fonction du composant parent permettant de fermer la popup
       */
    hidePopup: function() { this.$emit('hidePopup') }
  }

}
</script>
<style>

#overlay {
    position: absolute;
    z-index: 9999;
    margin-left: 53%;
    margin-top: 10px;
    width: 25%;
    height: 30%;
}

#overlayList {
  height:60%;
  overflow: scroll;
  line-height: 2em;
}

</style>
