<template>
<div class="d-md-block bg-light wrapper">
  <nav id="sidebar">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Gestion des couches
    </h6>
    <br>
    <draggable :move="setNewIndex" v-model="layers">
      <ul v-for="layer in layers" :key="layer.get('title')" class="nav flex-column list-group">
        <li class="list-group-item">
          <a id="svgButton" @click="deleteLayer(layer)" v-b-tooltip.hover title="Supprimer la couche"><iconTrash></iconTrash></a>
          <a id="svgButton" v-if="!layer.getVisible()" @click="changeVisibility(layer)" v-b-tooltip.hover title="Afficher la couche"><iconToggleLeft></iconToggleLeft></a>
          <a id="svgButton" v-if="layer.getVisible()" @click="changeVisibility(layer)" v-b-tooltip.hover title="Masquer la couche" ><iconToggleRight></iconToggleRight></a>
          <b-button type="button" v-b-toggle="layer.get('title')" v-b-tooltip.hover title="Cliquer pour dérouler les options" variant="link">
            {{ layer.get('points') ? 'PE: ' + layer.get('points') : layer.get('title') }}
          </b-button> <br>
          
          <!-- Composant options -->
          <b-collapse :id="layer.get('title')" class="mt-2">
            <h6 class="text-muted">
              Options de la couche:
            </h6>
            <selected-feature-options-view v-if="isSelectedFeature(layer.get('title'))" :layer="layer"></selected-feature-options-view>
            <layers-options-view v-if="!isSelectedFeature(layer.get('title'))" :layer="layer"></layers-options-view>
          </b-collapse>
        </li>
      </ul>
    </draggable>
    <button v-if="layers.length != 0" @click="deleteAllLayers" type="button" id="emptyLayersButton" class="btn btn-danger">Vider</button>
  </nav>
</div>
</template>

<script>
import LayersOptionsView from '@components/commons/LayersOptionsView'
import SelectedFeatureOptionsView from '@components/commons/SelectedFeatureOptionsView'
import draggable from 'vuedraggable'
import iconTrash from '@components/icons/IconTrash'
import iconToggleLeft from '@components/icons/IconToggleLeft'
import iconToggleRight from '@components/icons/IconToggleRight'

import { mapGetters } from 'vuex'

export default {
  name: 'layers-view',
  data() {
    return { layers: [] }
  },
  components: { LayersOptionsView, SelectedFeatureOptionsView, draggable, iconTrash, iconToggleLeft, iconToggleRight },
  computed: {
    ...mapGetters({
      olmapLayers: 'getOlmapLayers',
      olmap: 'getOlmap',
    })
  },
  mounted() {
    this.layers = this.olmapLayers.slice(1)
  },
  watch: {
    olmapLayers() {
      this.layers = this.olmapLayers.slice(1)
    }
  },
  methods: {
    deleteLayer: function(layer) { return this.$store.dispatch('removeLayer', layer) },
    deleteAllLayers: function() { return this.$store.dispatch('removeAllLayers') },
    changeVisibility: function(layer) { return layer.setVisible(!layer.getVisible()) },
    /**
     * Ordonnancement les couches
     */
    setNewIndex: function(evt) {
      // Recherche de la couche qui va être remplacée par celle que l'utilisateur souhaite ré-ordonner
      for (let i = 1; i < this.olmapLayers.length; i++) {
        if (this.olmapLayers[i].getZIndex() === evt.draggedContext.futureIndex + 1) {
          // Attribution de l'index de la couche sélectionnée
          this.olmapLayers[i].setZIndex(evt.draggedContext.index + 1)
        }
      }
      // Attribution du nouvel index pour la couche sélectionnée
      evt.draggedContext.element.setZIndex(evt.draggedContext.futureIndex + 1)
    },
    /*
    * Fonction permettant de savoir si une couche est issue d'une sélection de feature ou non
    * Si c'est une couche issue d'une sélection alors ouverture du composant SelectedFeatureOptionsView qui
    * permet de gérer les styles de cette feature contenue dans une couche
    *
    * Si ce n'est pas le cas, alors ouverture du composant LayersOptionsView qui gère les styles propres à une couche
    */
    isSelectedFeature(title) { return title.includes('feature') },
  }
}
</script>

<style>
.wrapper {
  display: flex;
  margin-top: 2.5em;
}

#sidebar {
  overflow-y: auto;
  position: fixed;
  width: 20%;
}

#emptyLayersButton {
  margin-top: 15px;
}

#svgButton {
  cursor: pointer;
}
</style>
