<template>
<div>
  <div>
    <a id="svgButton" @click="showOpactitySlider()" v-b-tooltip.hover title="Modifier l'opacité de la couche">
      <iconOpacity></iconOpacity>
    </a>
    <a id="svgButton" v-if="featuresArray.length != 0" @click="showLabels()" v-b-tooltip.hover title="Afficher/Masquer les labels">
      <iconLabels></iconLabels>
    </a>
    <a id="svgButton" v-if="featuresArray.length != 0" @click="showFeatures()" v-b-tooltip.hover title="Afficher/Masquer les entités">
      <iconList></iconList>
    </a> </li>
  </div>
  <div id="vueSlider" v-if="displayOpacitySlider">
    <p> Opacité: </p>
    <VueSlider id="vueSlider" v-bind="sliderOptions" v-model="changeOpacity" />
  </div>
  <ul v-if="featuresArray.length != 0 && displayFeatures" class="list-group" id="featuresViewUl">
    <li class="list-group-item" id="featureItem" v-for="feature in featuresArray">
      <div v-bind:style="{'background-color':feature.get('color')}" id="box"></div>
      <div> {{ feature.get('modality') }}</div>
    </li>
  </ul>
</div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import iconLabels from '@components/icons/IconLabels'
import iconOpacity from '@components/icons/IconOpacity'
import iconList from '@components/icons/IconList'

import { mapGetters } from 'vuex'

export default {

  name: 'layers-options-view',
  props: ['layer'], // La couche sélectionnée par l'utilisateur lorsqu'il souhaite visualiser ses features
  components: { VueSlider, iconLabels, iconOpacity, iconList },
  computed: { ...mapGetters({ getFeaturesInLayer: 'getFeaturesInLayer' }) },
  data() {
    return {
      displayLabels: false,
      displayOpacitySlider: false,
      displayFeatures: false,
      changeOpacity: 0.5,
      sliderOptions: {
        min: 0,
        max: 1,
        interval: 0.1
      },
      featuresArray: []
    }
  },
  created() {
    if (this.layer.get('type') === 'vector') {
      this.featuresArray = this.getFeaturesInLayer(this.layer)
    }
  },
  watch: {
    changeOpacity() { this.layer.setOpacity(this.changeOpacity) }
  },

  methods: {
    /*
     * affiche ou non les différents modificateurs de couches
     */
    showOpactitySlider: function() { return this.displayOpacitySlider = !this.displayOpacitySlider },
    showFeatures: function() { return this.displayFeatures = !this.displayFeatures },
    showLabels: function() {
      if (!this.displayLabels) {
        for (let i = 0; i < this.featuresArray.length; i++) {
          this.$store.dispatch('setLabels', this.featuresArray[i])
        }
      } else {
        for (let i = 0; i < this.featuresArray.length; i++) {
          this.$store.dispatch('setDefaultStyle', this.featuresArray[i])
        }
      }
      return this.displayLabels = !this.displayLabels
    }
  }
}
</script>

<style>
#featuresViewUl {
  overflow: scroll;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 400px;
}

#box {
  width: 30px;
  height: 30px;
  margin-left: -35%;
  position: absolute;
}

#featureItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

#vueSlider {
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
