<template>
<div>
  <div class="ol-control" id="custom-map-control">
    <button type="button" class="custom-button-control" title="Afficher/Masquer les options" @click="showSidebar()">
      <iconSideBarControl></iconSideBarControl>
    </button>
    <button type="button" @click="exportToPng()" class="custom-button-control" title="Exporter la carte">
      <iconExport></iconExport>
    </button>
  </div>
  <div id="map">
    <dialog-features-details class="olmapFeatureView" @hidePopup="hidePopup" @saveFeature="saveFeature" v-if="feature" :feature="feature">
    </dialog-features-details>
  </div>
  <br>
</div>
</template>

<script>
import Map from 'ol/Map'

import Select from 'ol/interaction/Select.js'
import iconSideBarControl from '@components/icons/IconSideBarControl'
import iconExport from '@components/icons/IconExport'
import DialogFeaturesDetails from '@components/commons/DialogFeaturesDetails'
import GeoJSON from 'ol/format/GeoJSON'

import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  name: 'ol-map-view',
  components: { iconSideBarControl, iconExport, DialogFeaturesDetails },
  computed: {
    ...mapGetters({
      olmap: 'getOlmap',
      backgroundLayers: 'getBackgroundLayers'
    })
  },
  data() {
    return {
      params: null,
      feature: null,
      displaySideBar: true,
    }
  },
  mounted: function() {
    this.displayOlmap()
    this.$store.dispatch('getCapabilities')
  },

  methods: {
    /**
     * Génère la carte openLayer et appelle la fonction permettant de gérer les intéractions sur la carte
     */
    displayOlmap: function() {
      this.$store.dispatch('addLayer', this.$store.state.backgroundLayers[1].value)
      this.$store.dispatch('setOlMap')
      this.setMapInteraction()
    },

    /*
     * Gère les intéractions avec les couches images et vectorielles
     */
    setMapInteraction: function() {
      // ----------------------- COUCHE VECTORIELLE ----------------------- //
      let selectClick = new Select()
      this.olmap.addInteraction(selectClick)
      selectClick.on('select', evt => {
        let feature = evt.target.getFeatures().getArray()[0]
        this.params = {
          feature: feature.clone(),
          title: feature.get('modality'),
          isShinyLayer: true
        }
        this.showPopup(feature)
        selectClick.getFeatures().clear()
      })
      // ----------------------- COUCHE IMAGE ----------------------- //
      this.olmap.on('singleclick', evt => {
        if (evt) {
          let first = true
          this.olmap.forEachLayerAtPixel(evt.pixel, layer => {
            if (first && layer.get('type') === 'image') {
              let url = layer.getSource().getGetFeatureInfoUrl(evt.coordinate, this.olmap.getView().getResolution(), this.olmap.getView().getProjection(), {
                INFO_FORMAT: 'application/json'
              })
              if (url) {
                axios.get(url).then(response => {
                  let feature = new GeoJSON().readFeatures(response.data)
                  this.params = {
                    feature: feature,
                    title: feature[0].get('modality'),
                    isShinyLayer: false
                  }
                  this.showPopup(feature[0])
                })
              }
            }
            first = false
          })
        }
      })
    },

    // ----------------------------------------------
    // POPUP
    // ----------------------------------------------

    /*
     * Fonction qui ouvre une popup à l'endroit où l'utilisateur a cliqué
     * Affiche la modalité et un bouton permettant de sélectionner la feature pour l'isoler
     */
    showPopup: function(feature) {
      if (this.feature) {
        this.hidePopup()
      }
      if (feature.getStyle()) {
        this.$store.dispatch('setSelectedFeatureStyle', { feature: feature, color: feature.getStyle().getFill().getColor(), strokeWidth: 5})
      }
      this.feature = feature
    },

    /* Fonction qui cache la popup
     */
    hidePopup: function() {
      if (this.feature.getStyle()) {
        this.$store.dispatch('setDefaultStyle', this.feature)
      }
      this.feature = null
    },

    /*
     * Fonction qui ajoute l'entité dans la liste des couches disponible
     * Fermeture de la popup
     */
    saveFeature: function() {
      this.$store.dispatch('setSelectedFeature', this.params)
      this.spIdentifier = null
      this.hidePopup()
    },


    // ----------------------------------------------
    // OL CONTROLS
    // ----------------------------------------------

    /*
     * Envoie le statut de la sidebar au composant parent
     */
    showSidebar: function() {
      if (this.displaySideBar) {
        this.$emit('clicked', false)
        this.displaySideBar = false
      } else {
        this.$emit('clicked', true)
        this.displaySideBar = true
      }
      setTimeout(() => {
        this.olmap.updateSize()
      }, 10)
    },

    /*
     * Exporte la carte courante en format png
     */
    exportToPng: function() {
      this.olmap.once('rendercomplete', function(event) {
        let canvas = event.context.canvas
        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(canvas.msToBlob(), 'map.png')
        } else {
          canvas.toBlob(function(blob) {
            saveAs(blob, 'map.png')
          })
        }
      })
      this.olmap.renderSync()
    }
  }
}
</script>

<style>
#map {
  padding: 0px;
  height: 100%;
  width: 100%;
  margin-top: -2em;
}

#custom-map-control {
  z-index: 1000;
  position: relative;
  width: 1.9em;
  top: 10.5em;
  left: .5em;
}

#custom-map-control>button {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.list-group-item {
  margin: 10px;
}

</style>
