<template>
<div>
  <a id="svgButton" @click="showOpactitySlider()" tooltip="Modifier l'opacité">
    <iconOpacity></iconOpacity>
  </a>
  <a id="svgButton" @click="showSwatchesColor()" tooltip="Modifier la couleur">
    <iconColor></iconColor>
  </a>
  <a id="svgButton" @click="showStrokeOptions()" tooltip="Modifier la bordure">
    <iconStroke></iconStroke>
  </a>
  <div id="optionElement" v-if="displayOpacitySlider">
    <p> Opacité: </p>
    <VueSlider v-bind="sliderOptions" v-model="changeOpacity" />
  </div>
  <div id="optionElement" v-if="displaySwatchesColor">
    <p> Couleur: </p>
    <swatches id="optionElement" v-if="displaySwatchesColor" v-model="changeColor" colors="text-advanced"></swatches>
  </div>

  <div id="optionElement" v-if="displayStrokeOptions">
    <p> Bordure: </p>
    <b-form-group id="optionElement">
      <b-form-radio v-model="changeStrokeWidth" value="3">Épaisse</b-form-radio>
      <b-form-radio v-model="changeStrokeWidth" value="2">Moyenne</b-form-radio>
      <b-form-radio v-model="changeStrokeWidth" value="1">Fine</b-form-radio>
      <b-form-radio v-model="changeStrokeWidth" value="0.1">Aucune</b-form-radio>
    </b-form-group>
  </div>
</div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import Swatches from 'vue-swatches'
import 'vue-swatches/dist/vue-swatches.min.css'
import { Point } from 'ol/geom';
import iconOpacity from '@components/icons/IconOpacity'
import iconColor from '@components/icons/IconColor'
import iconStroke from '@components/icons/IconStroke'

import { mapGetters } from 'vuex'

export default {
  name: 'selected-feature-options-view',
  props: ['layer'],
  components: { VueSlider, Swatches, iconOpacity, iconColor, iconStroke },
  computed: { ...mapGetters({ olmap: 'getOlmap' }) },
  data() {
    return {
      feature: this.layer.getSource().getFeatures()[0],
      displayOpacitySlider: false,
      displaySwatchesColor: false,
      displayStrokeOptions: false,
      changeOpacity: 0.5,
      changeColor: null,
      changeStrokeWidth: 0.1,
      sliderOptions: {
        min: 0,
        max: 1,
        interval: 0.1
      }
    }
  },
  watch: {
    changeOpacity() { this.layer.setOpacity(this.changeOpacity) },
    changeColor() { this.styleFunction(this.feature, this.changeColor) },
    changeStrokeWidth() {
      // Conserve la couleur si elle a été modifiée
      if (this.changeColor) {
        this.styleFunction(this.feature, this.changeColor)
      } else {
        this.styleFunction(this.feature, this.feature.get('color'))
      }
    }
  },
  methods: {
    showOpactitySlider: function() { return this.displayOpacitySlider = !this.displayOpacitySlider },
    showSwatchesColor: function() { return this.displaySwatchesColor = !this.displaySwatchesColor },
    showStrokeOptions: function() { return this.displayStrokeOptions = !this.displayStrokeOptions },
    /*
     * fonction qui applique un style en fonction du type de feature passé en paramètre
     */
    styleFunction: function(feature, color) {
      if (feature.get('geometry') instanceof Point) {
        this.$store.dispatch('setPointsStrokeAndColor', { feature: feature, color: color, strokeWidth: this.changeStrokeWidth })
      } else {
        this.$store.dispatch('setPolygonsStrokeAndColor', { feature: feature, color: color, strokeWidth: this.changeStrokeWidth })
      }
    }
  }
}
</script>
<style>
#optionElement {
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
