<template>
<div id="app">
  <header-view></header-view>
  <div id="view" class="container-fluid">
    <layers-view v-if="displaySideBar" id="layersView"></layers-view>
    <ol-map-view @clicked="showSideBar" id="olmapView"></ol-map-view>
  </div>
</div>
</template>

<script>
import HeaderView from '@components/layout/HeaderView.vue'
import LayersView from '@components/commons/LayersView.vue'
import OlMapView from '@components/commons/OlMapView.vue'

export default {
  name: 'app',

  components: { HeaderView, LayersView, OlMapView },
  data() {
    return {
      displaySideBar: true
    }
  },

  methods: {
    /*
    * Boléen reçu par le composant enfant permettant de fermer ou ouvrir la sidebar
    */
    showSideBar: function(value) {
      this.displaySideBar = value
    }
  }
}
</script>

<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#view {
    padding: 0;
    position: fixed;
    display: flex;
    height: 100%;
}

#olmapView {
    height: 100%;
    width: 800em;
    padding: 0;
}

#layersView {
  width: 200em;
}
</style>
